.conteiner {
    background-color: var(--cor-primaria-escura);
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}

.titulo {
    color: var(--cor-secundaria-clara);
}
